[user]
	name = Jason Foreman
	email = jason@threeve.org
[github]
	user = threeve
[core]
	editor = vim
	excludesfile = ~/.gitignore-global
	quotepath = false
[credential]
	helper = osxkeychain
[apply]
	whitespace = fix
[color]
	branch = auto
	diff = auto
	pager = true
	status = auto
	ui = auto
[alias]
	b = branch
	br = branch
	ci = commit
	co = checkout
	d = diff --word-diff=color
	hub = !hub
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	pdiff = difftool -t patdiff
	poop = stash pop
	st = status -sb
	sub = submodule
	w = whatchanged
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	xlog = log --graph --pretty=format:\"%C(yellow)%h%Creset %ad  %s%C(cyan)%d%Creset %C(green)[%an]%Creset\" --date=short
[push]
	default = simple
[diff]
	tool = patdiff
[difftool]
	prompt = false
[difftool "patdiff"]
	cmd = patdiff \"$LOCAL\" \"$REMOTE\" -alt-old a/\"$REMOTE\" -alt-new b/\"$REMOTE\" | cat

